* {
    box-sizing: border-box;
}

body {
   margin: 0;
   background-color: #F5F5F5;
   font-family: sans-serif;
   position: relative;
   height: 100%;
}

/* Header CSS */
header {
    background-color: #002366;
    color: #FFFFFF;
    height: 6vh;
    margin: 0;
}

header.navbar-container {
    display: flex;
    align-content: center;
    align-items: center;
}

header h1{
    margin-left: 70px;
}

.nav-list ul {
    list-style-type: none;
    overflow: hidden;
}

.nav-list li {
    display: inline;
    float: left;
}   

.nav-list li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;

    color: #FFFFFF;
}

li a:hover {
    background-color: #1E3A8A;
}

/* Main CSS */
/* Hero Section*/
main {
    margin: 0;
}

hr {
    margin-top: 100px;
    margin-bottom: 0px;
}

.hero {
    margin-top: 100px;
    font-size: 50px;
}

.hero h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #333333;
}

.hero p {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #666666;
}

.hero button {
    margin: 0 auto;
    display: block;
    padding: 8px 14px;
    margin-top: 60px;
    border: none;
    border-radius: 10px;
    width: 250px;
    font-weight: bold;
    font-size: 20px;

    background-color: #3882F6;
    color: #F9FAF8;
}

.hero button:hover {
    cursor: pointer;
}

/* Alasan kenapa section */
.alasan-kenapa {
   text-align: center;
   padding: 60px 20px;
   margin-left: 70px;
   margin-right: 70px;
}

.alasan-kenapa h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-box {
    width: 250px;
    height: 300px;
    padding: 20px;
    text-align: left;
}

.feature-box h3 {
    font-size: 1.1em;
    color: #1A202C; 
    margin: 10px 0;
}

.feature-box p {
    color: #4A5568; 
    font-size: 0.95em;
    line-height: 1.6;
}

.feature-box .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon img {
    height: 70px;
}



/* Review section */
.review h2 {
    font-size: 2em;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-box {
    margin: auto;   
    background-color: #FFFFFF;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-box img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 8px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-right: 70px;
}