* {
    box-sizing: border-box;
}

body {
   margin: 0;
   background-color: #F5F5F5;
   font-family: sans-serif;
   position: relative;
   height: 100%;
}

/* Home */
/* Header CSS */
header {
    background-color: #002366;
    color: #FFFFFF;
    height: 6vh;
    margin: 0;
}

header.navbar-container {
    display: flex;
    align-content: center;
    align-items: center;
}

header h1{
    margin-left: 70px;
}

.nav-list ul {
    list-style-type: none;
    overflow: hidden;
}

.nav-list li {
    display: inline;
    float: left;
}   

.nav-list li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;
    color: #FFFFFF;
}

li a:hover {
    background-color: #1E3A8A;
    transition-duration: 1s;
}

/* Main CSS */
/* Hero Section*/
main {
    margin: 0;
}

hr {
    margin-top: 100px;
    margin-bottom: 0px;
}

.hero {
    margin-top: 230px;
    font-size: 50px;
    min-height: 60vh;
}

.hero h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #333333;
}

.hero p {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #666666;
}

.hero button {
    margin: 0 auto;
    display: block;
    padding: 8px 14px;
    margin-top: 60px;
    border: none;
    border-radius: 10px;
    width: 250px;
    font-weight: bold;
    font-size: 20px;

    background-color: #3882F6;
    color: #F9FAF8;

    transition: background-color 0.3s ease;
}

.hero button:hover {
    cursor: pointer;
    background-color: #306AC9;
}

/* Alasan kenapa section */
.alasan-kenapa {
   text-align: center;
   padding: 60px 20px;  
}

.alasan-kenapa h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-box {
    width: 250px;
    height: 300px;
    padding: 20px;

}

.feature-box h3 {
    font-size: 1.1em;
    color: #1A202C; 
    margin: 10px 0;
    text-align: left;
}

.feature-box p {
    color: #4A5568; 
    font-size: 0.95em;
    line-height: 1.6;
    text-align: left;
}

.feature-box .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon i {
   font-size: 50px;
}

/* Review section */
.review h2 {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-box {
    margin: auto;   
    background-color: #FFFFFF;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
}

.review-box h3 {
    font-size: 1.1em;
    color: #1A202C; 
    text-align: center;
    margin: 10px auto;
}

.review-box p {
    text-align: center;
    color: #4A5568; 
    font-size: 0.95em;
}

.review-box img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 50%;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
}

/* Footer section */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002366;
    color: #FFFFFF;
}
/* Home */

/* Beli Paket */
/* Kategori Paket */
.beli-paket {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.beli-paket h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.beli-paket h2 {
    float: left;
}

.kategori-paket {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paket {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0 auto;
}

.opsi {
    margin: auto;  
    text-align: center; 
    background-color: #FFFFFF;
    padding: 20px;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.opsi i {
    font-size: 50px;
}

.opsi h3 {
    font-size: 1.1em;
    color: #1A202C; 
    text-align: center;
    margin: 10px auto;
}

.opsi p {
    text-align: center;
    color: #4A5568; 
    font-size: 0.95em;
}

.opsi button {
    margin: 20px auto 0;
    padding: 8px 14px;
    border: none;
    border-radius: 10px;
    width: 200px;
    font-weight: bold;
    font-size: 1.1em;

    background-color: #3882F6;
    color: #F9FAF8;

    transition: background-color 0.3s ease;
}

.opsi button:hover {
    cursor: pointer;
    background-color: #306AC9;
}

/* Promo */
.promo {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.promo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    gap: 16px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #E6F2FF;
    margin-bottom: 50px;
}

.promo-box img {
    height: 80px;
    border-radius: 8px;
}

.promo-text {
    flex: 1;
}

.promo-text h3 {
    float: left;
    text-align: left; 
}

.promo-text p {
    float: left;
    text-align: left;
}