* {
    box-sizing: border-box;
}

body {
   margin: 0;
   background-color: #F5F5F5;
   font-family: sans-serif;
   position: relative;
   height: 100%;
}

/* Header CSS */
header {
    background-color: #002366;
    color: #FFFFFF;
    height: 6vh;
    margin: 0;
}

header.navbar-container {
    display: flex;
    align-content: center;
    align-items: center;
}

header h1{
    margin-left: 70px;

}

.nav-list ul {
    list-style-type: none;
    overflow: hidden;
}

.nav-list li {
    display: inline;
    float: left;
}   

.nav-list li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;

    color: #FFFFFF;
}

li a:hover {
    background-color: #1E3A8A;
}

/* Main CSS */
main {
    margin: 0;
}

.hero {
    margin-top: 200px;
    font-size: 50px;
}

.hero h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #333333;
}

.hero p {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #666666;
}

.hero button {
    margin: 0 auto;
    display: block;
    padding: 8px 14px;
    margin-top: 60px;
    border: none;
    border-radius: 10px;
    width: 250px;
    font-weight: bold;
    font-size: 20px;

    background-color: #3882F6;
    color: #F9FAF8;
}

.hero button:hover {
    cursor: pointer;
}
